# Dependencies
node_modules/

# Build output
dist/
build/
out/

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache
*.cache
.cache/
.tmp/
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

# Testing
coverage/
*.lcov

# TypeScript build files
*.tsbuildinfo

# Misc
*.swp
*.swo

package-lock.json

