.booking-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background: #f9f9f9;
  min-height: 85vh;
}

.booking-card {
  display: flex;
  gap: 25px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.booking-poster {
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.booking-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.booking-info h1 {
  margin-bottom: 8px;
  color: black;
}

.movie-desc {
  color: #333;
  font-style: italic;
  margin-bottom: 10px;
}

button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  width: fit-content;
}

button:hover {
  background-color: #b00610;
}



/* .booking-page {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #f9f9f9;
  min-height: 80vh;
}

.booking-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.booking-card h1 {
  margin-bottom: 10px;
}

.booking-card p {
  margin: 4px 0;
}

button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #b00610;
} */
