.malls-page {
  padding: 20px;
}

.mall-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.mall-list h2{
  color: black;
}

.mall-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  text-align: center;
}

.mall-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.continue-btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #ff4757;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.continue-btn:hover {
  background-color: #e84118;
}
