/* Each hit row */
.yt-hit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 14px;
  
  padding: 12px 16px;
  
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;

  transition: background 0.2s ease, transform 0.15s ease;
}

.yt-hit:hover {
  background: #f1f3f4;
}

/* Image */
.movie-poster {
  width: 70px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

/* Right content section */
.yt-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
}

/* Title */
.yt-title {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  margin: 0;
  margin-bottom: 4px;
}

/* Genre text */
.yt-genre {
  font-size: 14px;
  color: #666;
  margin: 0;
}


.yt-searchbox {
  flex: 1;
  display: flex !important;
  align-items: center;
}


/* Search row wrapper */
.yt-search-row {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}

/* Make Algolia search input look normal */
.yt-input {
  width: 100%;
  flex: 1;
  padding: 12px 16px;
  border: none !important;
  font-size: 15px;
  outline: none;
  color: #000;
}

/* Remove Algolia extra container space */
.yt-searchbox form {
  width: 100%;
  display: flex;
}

/* Search Button (YouTube style) */
.yt-search-btn {
  width: 50px;
  height: 44px;
  border: none;
  background: #f1f3f4;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease;
}

.yt-search-btn:hover {
  background: #e3e3e3;
}


/* Hide Algolia default search button */
.yt-searchbox button {
  display: none !important;
}
